[Desktop Entry]
Comment=New Experience 2.1.0
Name=New Experience 2.1
X-KDE-PluginInfo-Author=EQuilibrium (Zlatko Barnak)
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=NewExperience2.1
X-KDE-PluginInfo-Version=2.1.0
X-KDE-PluginInfo-Website=LT-Stand.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
